.insightnav__all {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  /* identical to box height, or 75% */

  letter-spacing: -0.24px;

  background-color: #111111;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.insightnav__title {
  margin: 19px 0;
  font-family: metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  color: #ffffff;
}
.insightnav__container {
  display: flex;
  width: 100%;
  border-bottom: 0.5px solid grey;
}

.insightnav__videos {
  text-decoration: none;
  flex-basis: 50%;
  text-decoration: none;
  flex-basis: 50%;
  text-align: center;
  padding-bottom: 17px;
}
.insightnav__general {
  text-decoration: none;
  flex-basis: 50%;
  text-align: center;
  padding-bottom: 17px;
  /* identical to box height, or 75% */

  letter-spacing: -0.24px;
}

.insightnav__text {
  color: #ffffff;
  font-family: metropolis;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
}
.insightnav__link-active {
  border-bottom: 3px solid #eb493b;
}
