.insightnav {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 15px;
  /* identical to box height, or 75% */

  letter-spacing: -0.24px;

  color: #ffffff;

  background-color: #111111;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    margin: 19px 0;
  }

  &__link {
    text-decoration: none;
    font-family: Metropolis;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 15px;
    /* identical to box height, or 75% */

    letter-spacing: -0.24px;

    color: #ffffff;

    padding: 19px 0;
    width: 100%;

    &-active {
      border-bottom: 3px solid #eb493b;
    }
  }
}
