@import "./partials/speakers";
@import "./partials/font";
@import "./partials/footer";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@import "./partials/home";
@import "./partials/InsightNav";
@import "./partials/charts";
